<!-- QuickLinks -->

<div class="well ">
<h3 class="page-header">QuickLinks</h3>
<div class="custom"  >

<p style="text-align: center;">

<a href="http://mmgboinc.unimi.it" target="_blank" title="SimOne@home"><img src="/images/icons/icon-simone.png" alt="SimOne@home" width="32" height="32" style="vertical-align: middle;" /></a> 

<a href="http://www.linkedin.com/in/simonecnt" target="_blank" title="Linkedin"><img src="/images/icons/icon-linkedin.png" alt="Linkedin" width="32" height="32" style="vertical-align: middle;" /></a> 

<a href="https://www.researchgate.net/profile/Simone_Conti/" target="_blank" title="ResearchGate"><img src="/images/icons/icon-researchgate.png" alt="ResearchGate" width="32" height="32" style="vertical-align: middle;" /></a> 

<a href="http://www.researcherid.com/rid/B-3928-2014" target="_blank" title="ResearcherID"><img src="/images/icons/icon-researcherid.png" alt="ResearcherID" width="32" height="32" style="vertical-align: middle;" /></a> 

<a href="http://orcid.org/0000-0001-7986-567X" target="_blank" title="ORCID"><img src="/images/icons/icon-orcid.png" alt="ORCID" width="32" height="32" style="vertical-align: middle;" /></a> 

</p>
</div>
</div>
