<!-- QuickLinks -->
<div class="sideblock">
<h3>QuickLinks</h3>
<div style="text-align: center;">
<a href="http://www.linkedin.com/in/simonecnt" target="_blank" title="Linkedin">{% icon fa-linkedin-square fa-2x %}</a>
<a href="https://www.researchgate.net/profile/Simone_Conti/" target="_blank" title="ResearchGate">{% icon ai-researchgate-square fa-2x %}</a>
<a href="http://orcid.org/0000-0001-7986-567X" target="_blank" title="ORCID">{% icon ai-orcid-square fa-2x %}</a>
<a href="https://scholar.google.it/citations?user=rQPW5LAAAAAJ" target="_blank" title="Google Scholar">{% icon ai-google-scholar-square fa-2x %}</a>
<a href="https://github.com/SimoneCnt" target="_blank" title="GitHub">{% icon fa-github-square fa-2x %}</a>
</div>
</div>
