
<div class="w3-content w3-display-container" style="width:70%">

{% for image in MSImages %}
  <div class="w3-display-container {{ MSName }}">
    <img src="{{ MSPath }}{{ image }}" style="width:100%">
    <div class="w3-display-bottommiddle w3-large w3-container w3-padding w3-black">
      {{ MSLabels[forloop.index0] }}
    </div>
  </div>
{% endfor %}

<button class="w3-button w3-display-left  w3-black" onclick="plusDivs_{{ MSName }}(-1)">&#10094;</button>
<button class="w3-button w3-display-right w3-black" onclick="plusDivs_{{ MSName }}(+1)">&#10095;</button>

</div>

<script>
var slideIndex_{{ MSName }} = 1;
showDivs_{{ MSName }}(slideIndex_{{ MSName }});

function plusDivs_{{ MSName }}(n) {
  showDivs_{{ MSName }}(slideIndex_{{ MSName }} += n);
}

function showDivs_{{ MSName }}(n) {
  var i;
  var x = document.getElementsByClassName("{{ MSName }}");
  if (n > x.length) {slideIndex_{{ MSName }} = 1}
  if (n < 1) {slideIndex_{{ MSName }} = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  x[slideIndex_{{ MSName }}-1].style.display = "block";  
}
</script>

<p></p>

