---
layout: compress
---
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <meta name="google-site-verification" content="riBpdQWal9w_jxf97W3pf6jUQs7jkzT3U2UOi9MZuPY" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
    <link rel="stylesheet" href="/css/pygments-default.css" type="text/css" />
    <script src="https://kit.fontawesome.com/cf75892fab.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
    <style>body{font-family: 'Open Sans', sans-serif;}</style>
    {% if page.mathjax %}
    <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
    {% endif %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SS8LGHNGNZ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-SS8LGHNGNZ');
    </script>
</head>
<body>
    <header>
        <div id="title">
            <h1>3dz2.com</h1>
            <h2></h2>
        </div>
        {% if page.banner %}
        <img src="/img/banners/{{ page.banner }}.png" alt="image banner" />
        {% else %}
        <img src="/img/banners/research.png" alt="image banner" />
        {% endif %}
    </header>
    <main> 
        <article>
            {{ content }}
            {% if page.date %}
            <i>Last update: {{ page.date | date_to_long_string }}</i>
            {% endif %}
        </article>
    </main>
    <aside>
        {% include nav.html %}
    </aside>
    <footer>
        <p>Copyright &copy; 2015-{{ 'now' | date: "%Y" }} Simone Conti. All rights reserved.</p>
    </footer>
</body>
</html>
