---
layout: compress
---
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <meta name="google-site-verification" content="riBpdQWal9w_jxf97W3pf6jUQs7jkzT3U2UOi9MZuPY" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
    <link rel="stylesheet" href="/css/fonts.css" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
    <style>body{font-family: 'Open Sans', sans-serif;}</style>
    {% if page.mathjax %}
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    {% endif %}
</head>
<body>
    <header>
        <div id="title">
            <h1>Simone Conti</h1>
            <h2>Personal website</h2>
        </div>
        {% if page.banner %}
        <img src="/img/banners/{{ page.banner }}.png" alt="image banner" />
        {% else %}
        <img src="/img/banners/research.png" alt="image banner" />
        {% endif %}
    </header>
    <main> 
        <article>
            {{ content }}
            {% if page.date %}
            <i>Last update: {{ page.date | date_to_long_string }}</i>
            {% endif %}
        </article>
    </main>
    <aside>
        {% include nav.html %}
    </aside>
    <footer>
        <p>Copyright &copy; 2015-{{ 'now' | date: "%Y" }} Simone Conti. All rights reserved.</p>
    </footer>
</body>
</html>
